/* Stylesheet */

/* Global */
:root
{
    --green: #236964;
    --blue: #307BA9;
    --red: #D93D3D;
    --pink: #E71144;
    --orange: #F29544;
    --lightOrange: #FFAE33;
    --white: #E3D9C5;
    --black: #231F20;
    --shadowblack: #231F2050;
    --opacity: 50;
}

html
{
    min-height: 100%;
}

body
{
    min-height: 100%;
    background-image: linear-gradient(#236964, #307BA980, #E3D9C550);
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; 
    padding-bottom: 0px;
}

.pagetitle
{
    text-align: center;
    font-size: 5vw;
    height: 5vw;
    font-family: 'Slackey', cursive;
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px var(--shadowblack)
}

/* _Header_ */

.navigation
{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    top:0;
    z-index: 10;
    padding-bottom: 5em;
}

.navigation .logo
{
    height: 80px;
    margin-left: 1em;
}

.navigation .logo:hover
{
    -webkit-filter: drop-shadow(1px 1px 0 var(--pink)) 
                    drop-shadow(-1px -1px 0 var(--white));
}

nav
{
    margin-right: 1em;
}

ul
{
    list-style-type: none;
    flex-direction: row;
    font-family: 'Roboto Slab', serif;
}

li
{
    display: inline;
    padding: 1em;
    font-size: 1.5em;
}

li a
{
    text-decoration: none;
    color: var(--black);
}

li a:hover
{
    color: var(--white);
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: none;

  }

  .dropdown button
  {
      background-color: transparent;
      color: var(--black);
      border: none;
      border-radius: 10px 10px 0px 0px;
      z-index: 15;
  }

  .dropdown button i
  {
    font-size: 5em;
    color: var(--black);
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content 
  {
    display: none;
    position: absolute;
    background-image: linear-gradient(var(--white), var(--blue) 95%, var(--green));
    min-width: calc(100vw - 1em);
    min-height: calc(100vh - 100px);
    box-shadow: 0px 8px 16px 0px #231F2020;
    border-radius: 20px 0px 20px 20px;
    z-index: 16;
    text-align: center;
    left: 100%; 
    transform: translateX(-100%);
    padding:auto;
    padding-top: 5vh;
    
  }
  
  .dropdown-content a 
  {
    color: var(--black);
    mix-blend-mode: darken;
    padding: 5vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Slab', serif;
    height:25%;
    font-size: 10vw;
  }

  @media screen and (max-width: 800px)
  {
      .dropdown 
      {
          display:inline-block;
      }
      nav
      {
          display:none;
      }
  }


/* Homepage */

.content
{
    width: 95vw;
    margin: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-content: center;
    text-align: center;
}

.content .heroSpace
{
    min-height: 30vw;
    max-height: 50vw;
    margin-bottom: 20vw;
}

.content .heroSpace .image
{
    z-index: 2;
    height: 50vh;
    width: auto;
    left: 15%;
    position: absolute;
}

.content .heroSpace .image img
{
    min-width: 35vw;
    max-width: 35vw;
    height: auto;
    -webkit-filter: drop-shadow(10px 10px 0 var(--pink)) 
                    drop-shadow(-10px -10px 0 var(--white));
    position: relative;
    transform: translate(0vw, -7.5vw);

}

.content .heroSpace .personalInfo
{
    position: absolute;
    display: grid;
    min-height: 27vw;
    max-height: 30vw;
    left: 15%;
    right: 15%;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    '. name'
    '. role'
    '. description'
    '. resume';
    grid-column-gap: 0vw;
    grid-row-gap: .5vw;
    z-index: 0;
    padding-top: 2.5vw;
    padding-right: 2.5vw;
    padding-left: 5vw;
    padding-bottom: 1.5vw;
    background-color: var(--white);
    box-shadow: 10px 10px 0 var(--green);
    border-radius: 20px;
}

.content .heroSpace .personalInfo .name
{
    grid-area: name;
    max-height: auto;
    min-height: 5vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.content .heroSpace .personalInfo .role
{
    grid-area: role;
    max-height: auto;
    min-height: 5vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.content .heroSpace .personalInfo .description
{
    grid-area: description;
    max-height: auto;
    min-height: 5vh;
    margin-top: -.5vw;
    margin-bottom: 1vw;
}

.content .heroSpace .personalInfo .resume
{
    grid-area: resume;
    max-height: auto;
    min-height: 5vh;
    min-width: 95%;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    padding: 1vw auto;
}

.content .heroSpace .personalInfo h1, h2
{
    font-family: 'Slackey', cursive;
    text-align: center;
}

.content .heroSpace .personalInfo h1
{
    font-size: 3vw;
    color: var(--pink);
    line-height: 3.5vw;
}

.content .heroSpace .personalInfo h2
{
    font-size: 2.5vw;
    color: var(--orange);
    line-height: 3vw;
}

.content .heroSpace .personalInfo h3
{
    font-size: 2vw;
    font-family: 'Roboto Slab', 'serif';
    text-align: center;
    color: var(--black);
    line-height: 2.5vw;
}


.resume button
{
    width: 80%;
    height: 5vw;
    border: none;
    outline: none;
    color: var(--black);
    font-family: 'Roboto Slab', 'serif';
    font-size: 1.5vw;
    text-align: center;
    border-radius: 100px;
    background: linear-gradient(45deg, var(--red),var(--pink),var(--orange),var(--lightOrange), var(--orange), var(--pink), var(--red));
    background-size: 600%;
    animation: glowing 50s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}


.resume button:hover
{
    box-shadow: 5px 5px 5px var(--shadowblack);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 400%; }
}


@media screen and (max-width:1000px)
{

    .resume button 
    {
        font-size: 2vw;
    }

    .content .heroSpace .personalInfo h3 
    {
        font-size: 2vw;
        line-height: 2.5vw;
        max-height: 20vw;    
    }

    .content .heroSpace .personalInfo h2 
    {
        font-size: 3vw;
        line-height: 3.5vw;
        max-height: 10vw;
    }

    .content .heroSpace .personalInfo h1 
    {
        font-size: 3.5vw;
        line-height: 4vw;
        max-height: 20vw;
    }

    .content .heroSpace .personalInfo
    {
        grid-row-gap: 0vw;
        max-height: 40vw;
    }


    content .heroSpace .personalInfo .name
    {
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding: 0vw;

    }

    .content .heroSpace .personalInfo .role
    {
        margin-top: 1vw;
        margin-bottom: 0vw;
    }

    .content .heroSpace .personalInfo .description
    {
        margin-top: 0vw;
        margin-bottom: 0vw;
        max-height: 10vw;
        min-height: 5vw;
        padding: 0vw;
    }

    .content .heroSpace .personalInfo .resume
    {
        min-height: 2.5vw;
        margin-top: 1.5vw;
        margin-bottom: .5vw;
    }

    .content .heroSpace .image img
    {
        min-width: 36vw;
        max-width: 37vw;
        transform: translate(-1vw, -5vw);
    }
}


@media screen and (max-width:600px)
{
  
    .content .heroSpace
    {
        display: grid;
        max-height: 175vw;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 5vw;
        grid-template-areas:
        'image'
        'personalInfo';
        width: 85vw;
        margin: 5vw;
        text-align: center;
    }

    .content .heroSpace .image 
    {
        grid-area: image;
        position: relative;
        min-height: 50vw;
        grid-area: image;
        z-index: 0;
        text-align: center;
        width: auto;
        height: auto;
        left:0;

    }

    .content .heroSpace .personalInfo 
    {
        left:0;
        bottom: 0;
        margin-top: -10vw;
        margin-bottom: 50vw;
        padding-top: 45vw;
        min-height: 75vw;
        display: grid;
        position:relative;
        grid-row-gap: 2.5vw;
        z-index: 0;
        grid-area: personalInfo;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: 
        'name'
        'role'
        'description'
        'resume';
     
    }

    .content .heroSpace .image img 
    {
        min-height: 90vw;
        max-height: 20vh;
        min-width: 80vw;
        transform: translate(0vw, 0vw);
    }

    .content .heroSpace .personalInfo h3 
    {
        font-size: 6vw;
        line-height: 6.5vw;
        
    }

    .content .heroSpace .personalInfo h2 
    {
        font-size: 7vw;
        line-height: 7.5vw;
    }

    .content .heroSpace .personalInfo h1 
    {
        font-size: 8vw;
        line-height: 8vw;
    }

    .content .heroSpace .personalInfo .name
    {
        min-height: 10vw;
        margin: 2vw;
    }

    .content .heroSpace .personalInfo .role
    {
        min-height: 10vw;
        margin: 2vw;
    }

    .content .heroSpace .personalInfo .description
    {
        max-height: 20vw;
        margin-top: -2.5vw;
        margin-bottom: -2.5vw;
    }

    .content .heroSpace .personalInfo .resume
    {
        height: 10vw;
        margin-top: .25vh;
        padding: 0;
    }

    .content .heroSpace .personalInfo .resume button
    {
        min-height: 10vw;
        margin: 0;
        font-size: 4vw;
    }

}


/* Skills */

.skillContainer
{
    min-height: 35vw;
    max-height: auto;
}
.skills
{
    max-height: 55%;
    width: 75vw;
    padding: 2.5vw;
    margin: 5vw;
    text-align: center;
    border: 10px solid var(--green);
    background-color: transparent;
    box-shadow: 5px 5px 0 var(--white), -5px -5px 0 var(--pink);
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.skills .skill
{
    height: 100%;
    width: 33%;
    background-color: var(--white);
    border-radius: 5px;
    margin: 2.5vw;
    text-align: center;
    text-decoration: none;
    -moz-transform: rotateX(20deg);
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 20px 20px -5px var(--shadowblack);
    position: relative;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    padding: 20px;
    padding-bottom:0;
    padding-top:0;
    transition: box-shadow .5s ease-out translate3d .5s ease-out;
}


.skills .skill:hover
{
    transform: perspective(-25px) translate3d(0px, 0px, 5px);
    box-shadow: 0 40px 40px -10px var(--shadowblack);
}

.skills .skill .image img 
{
    height:18vw;
    width: 23vw;
    object-fit: cover;
    padding-top: 5%;
}


.skills .skill .copy
{
    height: 10vw;
    width: 100%;
    padding: 0;
    text-align: center;
}

.skills .skill .copy h1 
{
    font-family: 'Slackey', cursive;
    font-size: 2vw;
    line-height: 2vw;
    max-height: 3vw;
    margin: 0vw;
    padding-bottom: 0;
    color: var(--orange);
}

.skills .skill .copy p 
{
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-family: 'Roboto Slab', 'serif';
    color: var(--black);
    align-self: start;
    padding-top: 0;
}

@media screen and (max-width: 800px)
{
    .pagetitle
    {
        font-size: 8vw;
        height: 8vw;
    }

    .skillContainer
    {
        min-height: 150vw;
        margin: auto;
    }
   
    .skills 
    {
        flex-direction: column;
        height: 100vw;
        margin: auto;
        margin-top: 20vw;
        margin-bottom: 20vw;
    }

    .skills .skill 
    {
        height: 50vw;
        width: 40vw;
        margin: auto;
    }

    .skills .skill .image img 
    {
        height: 30vw;
        width: 40vw;
    }

    .skills .skill .copy
    {
        height: 10vw;
    }

    .skills .skill .copy h1 
    {
        font-size: 3vw;
        line-height: 3vw;
        max-height: 3vw;
        padding-top: 0;
    }

    .skills .skill .copy p 
    {
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
}

/* Work */

.work 
{
    position: relative;
    text-align: center;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 5vh;    
    justify-items: center;
    align-items: center;
    width: 85vw;
    height: auto;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.work .project 
{
    width: 85vw;
    height: 30vw;
    display:grid;
    grid-template-columns: 30vw 50vw;
    grid-column-gap: 5vw;
    grid-template-rows: 30vw;
    grid-template-areas: 
    'case-study-image case-study';
}

.work .project .case-study-image 
{
    grid-area: case-study-image;
    height: 30vw;
    width: 30vw;
    display: inline;
}

.work .project .case-study-image img 
{
    height: 30vw;
    width: 30vw;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.work .project .case-study 
{
    grid-area: case-study;
    background-color: var(--white);
    width: 50vw;
    height: 30vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: .5vw;
    grid-template-areas:
    'name'
    'description'
    'study';
    border-radius: 10px;
}

.work .project .case-study h2 
{
    grid-area: name;
    text-align: center;
    font-size: 4vw;
    color: var(--green);
    text-decoration: underline wavy var(--blue);
    font-family: 'Slackey', cursive;
    text-shadow: 1px 1px var(--shadowblack);
    text-underline-offset: 1vw;
    margin:auto;
    margin-top: 2vw;

}

.work .project .case-study p 
{
    grid-area: description;
    text-align: center ;
    font-size: 2.5vw;
    line-height: 2.5vw;
    text-align: block;
    font-family: 'Roboto Slab', 'serif';
    color: var(--black);
    margin: auto;
    width: 80%;
    margin-top: 1vw;
}

.work .project .case-study button 
{
    grid-area: study;
    width: 50%;
    height: 5vw;
    margin: auto;
    border-radius: 20px;
    border: 0;
    background: linear-gradient(45deg, var(--red),var(--pink),var(--orange),var(--lightOrange), var(--white),var(--lightOrange), var(--orange), var(--pink), var(--red));
    background-size: 600%;
    animation: glowing 1000s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    font-size: 2vw;
    font-family: 'Roboto Slab', 'serif';
    color: var(--black);

}

.work .project .case-study button:hover
{
    box-shadow: 5px 5px 5px var(--shadowblack);
}

#secondProj 
{
    grid-template-areas: 
    'case-study case-study-image';
    grid-template-columns: 2fr 1fr; 
}

@media screen and (max-width: 600px)
{
    .work .project 
    {
        grid-template-rows: 50vw 1fr;
        grid-template-columns: 85vw;
        grid-row-gap: 1vw;
        grid-template-areas: 
        'case-study-image'
        'case-study';
        justify-content: center;
        align-content: center;
        width: 85vw;
        height: auto
    }

    .work .project .case-study-image 
    {
        width: 85vw;
        height: 50vw;
    }
    
    .work .project .case-study-image img 
    {
        width: 85vw;
        height: 50vw;
        margin: auto;
    }

    #secondProj 
    {
        grid-template-areas: 
        'case-study-image'
        'case-study';
        grid-template-columns: 85vw; 
    }

    .work .project .case-study 
    {
        width: 85vw;
        height: 40vw;
    }

    .work .project .case-study h2 
    {
        font-size: 6.5vw;
        line-height: 7vw;
        height: auto;
    }

    .work .project .case-study p 
    {
        font-size: 3.5vw;
        line-height: 4vw;
    }

    .work .project .case-study button 
    {
        height: 7.5vw;
        font-size: 3vw;
        margin-top: 1vw;
    }
}


/* Footer */

.footer 
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 3.5vh;
    width: 100vw;
}
footer
{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    padding-top: 2.5vh;
    height: 100px;
}

footer .footerLogo
{
    height: 20px;
}

footer .socialMedia
{
    height: 40px;
}

footer li:hover
{
    color: var(--black);
    text-decoration: underline;
    -webkit-filter: drop-shadow(3px 3px var(--white));
}

footer p
{
    width: 100%;
    padding-right: 1em;
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-size: .5em;
}



